#root {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#link-box {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    flex-basis: auto;
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.inactive-link {
    background-color: grey;
    border: 1px solid white;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.active-link {
    background-color: darkgrey;
    text-align: center;
    border: 1px solid white;
    padding-right: 20px;
    padding-left: 20px;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial;
}

#title-box {
    color: white;
    padding-left: 10px;
    background-color: black;
}

.container {
    display: flex;
    align-self: flex-start;
    flex: 1 1 auto;
    padding: 10px;
    border-bottom: 1px solid cornflowerblue;
    font-style: normal;
}

.card {
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid cornflowerblue;
}

.form-style-1 {
    max-width: 400px;
    padding: 10px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=email],
textarea,
select {
    box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
    box-shadow: 0 0 8px lightblue;
    border: 1px solid lightblue;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit],
.form-style-1 input[type=button] {
    background: grey;
    padding: 8px 15px 8px 15px;
    border: none;
    color: white;
}

.form-style-1 input[type=submit]:hover,
.form-style-1 input[type=button]:hover {
    background: darkgrey;
}

.blogimg {
    max-height: 400px;
    max-width: 80%;
}

.youtube {
    padding-right: 10px;
}

@media (max-width: 600px) {
    #root {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    #link-box {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-wrap: wrap;
        flex-basis: auto;
        background-color: grey;
    }
    .container {
        display: flex;
        align-self: stretch;
        flex: 1 1 auto;
        padding: 10px;
        flex-direction: column;
        max-width: 98%;
        border: 1px solid cornflowerblue;
    }
    .youtube {
        padding-bottom: 10px;
        max-width: 96%;
    }
}